<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="phoenix" value="https://pkgs.dev.azure.com/afs-dev/_packaging/phoenix/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <phoenix>
      <add key="Username" value="any" />
      <add key="ClearTextPassword" value="%nugetPAT%" />
    </phoenix>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="phoenix">
      <package pattern="BorderPatrol.*" />
      <package pattern="Platform.*" />
      <package pattern="Horizon.*" />
      <package pattern="afs.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>